body {
  background-color: black;
}

svg {
  position: fixed;
  background-color: white;
  width: 50%;
  height: 90%;
}

.links line {
  stroke: black;
  stroke-opacity: 0.6;
  stroke-width: 3px;
}

.nodes circle {
  stroke: black;
  stroke-width: 3px;
}

text {
  font-family: sans-serif;
  font-size: 15px;
}

.scrollmargin {
  height: 80px;
  text-align: center;
}

#editor {
  position: relative;
  border: 1px solid lightgray;
  margin: auto;
  margin-right: 0;
  height: 650px;
  width: 40%;
}

button {
  position: relative;
 width: 66px;
 height: 66px;
 cursor: pointer;
 background: white;
 border-radius: 20px;
 margin: 6px;
}
