body {
  background-color: black;
}

svg {
  position: fixed;
  background-color: white;
}

.links line {
  stroke: black;
  stroke-opacity: 0.6;
  stroke-width: 3px;
}

.nodes circle {
  stroke: black;
  stroke-width: 3px;
}

text {
  font-family: sans-serif;
  font-size: 15px;
}
